$color-white: #fff;
$color-primary: #7cea9c;
$color-gray: #2d3047;
$color-back: #071013;

$font-base: "Lato", sans-serif;

$font-xxl: 100px;
$font-xl: 70px;
$font-l: 50px;
$font-m: 18px;
$font-s: 12px;
