.avatar {
  position: fixed;
  left: 0;
  padding: 1rem 2rem;
  background-color: $color-primary;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  img {
    margin-top: 8rem;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .avatar {
    display: none;
  }
}
