.contacto {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid $color-gray;
  h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-gray;
  }

  p {
    margin-top: 0.5rem;
    font-weight: 300;
  }
}
